@inherits BaseComponent

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p>@L["Authorizing"]</p>
                </Authorizing>
                <NotAuthorized>
                    <RedirectToSignInComponent/>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>@L["NotFound"] | FinanceLab</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">
                    @L["NotFoundDescription"]
                </p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>